

body {
  background-color: #2f2516;
 }

 footer {
   background-color: black;
 }

 .Navsec {
   padding: 10px;
   color: #b78d42;
   /* text-decoration: dotted; */
 }

 .navseclist {
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 20px;
 }

 .navseclist a {
   text-decoration: none;
   color:#b78d42;
   font-size: 15px;
   font-weight: bold;
   transition:color 0.3 ease;
   /* text-emphasis-color: white; */

 }

 .navseclist2 {
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 20px;
 }

 .navseclist a:hover, .navseclist2 a:hover {
   color: #ffffff;
 }


 .Sociallinks i{
   color: azure;
   width: 3rem;
   height: 3rem;
   display: inline-flex;
   justify-content: right;
   align-items: right;
   margin-left: 50%;
   position: absolute;
   right: 10px;
   top: 10px;
   padding: 10px;
 }

 .footer p {
   color: white;
 }
 .footer li {
   color: white;
 }


 .footerlist {
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 10px;
 }

 .footer {
 padding: 5px;
 width: 100%;
 bottom: 0%;
 left: 0;
 position:absolute;
 }

 .Allrights {
   list-style-type: none;
   display: flex;
   justify-content: left;
   gap: 10px;


 }
 .firster {
  color: white;
  text-align: center;
 }
.drops {
  background-image: url(pexels-chanwalrus-958545.jpg);
  text-align: center;
  padding: 100px 20px;
  border-radius: 5px;
  background-attachment: scroll;
  background-repeat: repeat;
}
.drops h1 {
  color: white;
}
